/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

$breakpoint-xxl: 1440px;
$breakpoint-xl: 1280px;
$breakpoint-l: 1080px;
$breakpoint-m: 960px;
$breakpoint-d: 782px;
$breakpoint-s: 600px;
$breakpoint-xs: 480px;

.wp-block-ifdigital-entity-loop {
	--swiper-navigation-size: 2.5rem;

	&.alignfull {
		padding-inline: 0;
	}

	position: relative;
	gap: 2rem;
	border-top: 1px solid var(--wp--preset--color--brand-color-text-primary);
	border-bottom: 1px solid var(--wp--preset--color--brand-color-text-primary);

	.container-grid {
		max-width: 100%;

		.swiper {
			flex: 1 1 auto;
			padding-block: var(--gap-medium);
			padding-inline: var(--wp--style--block-gap);
		}

		.container-content {
			padding-block: var(--gap-medium);
			padding-inline: var(--wp--style--block-gap);

			border-top: 1px solid
				var(--wp--preset--color--brand-color-text-primary);
			flex: 0 1 33.333%;
		}
	}

	.container-content {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.swiper-buttons {
		top: calc(var(--swiper-navigation-size) * 0.5);
		right: calc(var(--swiper-navigation-size) * 0.5);
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;

		.buttons-wrapper {
			display: flex;
			border: 1px solid var(--wp--preset--color--black);
			border-radius: var(--global-radius, 15px);
			padding: 0.25rem;
			gap: 0.25rem;
		}

		.swiper-button {
			--btn-bg: var(--wp--preset--color--black, #000);
			--btn-color: var(--wp--preset--color--white, #fff);

			background: var(--btn-bg);
			color: var(--btn-color);
			border-radius: var(--global-radius, 15px);
			font-size: var(--swiper-navigation-size, 30px);
			border: none;
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(var(--swiper-navigation-size, 30px) * 1.3);
			height: var(--swiper-navigation-size, 30px);
			transition: background-color 150ms ease-in-out;
			cursor: pointer;

			&:hover {
				&:not(:is(.swiper-button-disabled)) {
					--btn-bg: var(
						--wp--preset--color--brand-color-secondary,
						#f00
					);
				}
			}

			&:active,
			&:focus {
				outline: none;
				border: none;
			}

			&:is(.prev-slide) {
				&:before {
					content: "\290C"; // ⤌
					display: block;
					transform: translateY(-3px);
				}
			}

			&:is(.next-slide) {
				&:before {
					content: "\290D"; // ⤍
					display: block;
					transform: translateY(-3px);
				}
			}

			&:is(.swiper-button-disabled) {
				opacity: 0.2;
				cursor: not-allowed;
			}
		}
	}

	.post-term {
		color: var(--wp--preset--color--brand-color-tertiary, #3f3f3f);
	}

	.swiper-slide {
		h3 {
			margin-block-end: 0;
			text-transform: uppercase;
			font-weight: var(--body-font-weight, 400);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.cateogry-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 0.3rem;
	}

	.image-wrapper {
		aspect-ratio: 3 / 4;
	}
}

@media screen and (min-width: #{$breakpoint-d}) {
	.wp-block-ifdigital-entity-loop {
		.container-grid {
			display: flex;

			.swiper {
				padding-inline-end: var(--gap-medium);
			}

			.container-content {
				border-top: none;
				padding-inline-start: var(--gap-medium);
				border-left: 1px solid
					var(--wp--preset--color--brand-color-text-primary);
			}
		}
	}
}
